@model emsproject23.ViewModels.ResetPass

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ResetPass</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Email
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            Current Password
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentPassword)
        </dd>
        <dt class = "col-sm-2">
            New Password
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewPassword)
        </dd>
        <dt class = "col-sm-2">
            Re-enter New Password
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReEnterNewPassword)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
